*{box-sizing: border-box}
body{margin: 0;background:#fff;font-size: 1em; }
/*最外层div.container*/
.container{margin: 0 auto ;}
.container:before{content:'';display: table;}
/*变宽容器：一般用于子容器*/
.container_fluid{width: 100%}
.left,.middle,.right{float: left}
.my-img{float:left;padding: 10px 5px}
/*针对pc*/
@media screen and (min-width:992px){
    .container{width:970px}
    .left,.right{width:20%}
    .middle{width:60%}
    .my-img{width:25%}
}
/*针对pad*/
@media screen and (min-width:768px) and (max-width:991px){
    .container{width:750px ;color:green}
    .left{width:25%}
    .middle{width:75%}
    .right{display: none}
    .my-img{width:25%}
}
/*针对phone*/
@media screen and (max-width:767px){
    .container{width:100%;color:blue;}
    .left{width:100%}
    .middle{width:100%}
    .right{display: none}
    .my-img{width:50%}
}



